<div class="col-md-10">
      <%= link_to "Add User", new_user_path, class: "btn btn-primary" %>
      <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">List of Users</h4>
                <p class="card-category">There are <%= pluralize(User.count, "User") %></p>
              </div>
              <div class="card-body">
                    <div class="row">
                          <div class="col-md-12">
                                <ul class="horizontal-display">
                                      <%= render @users %>
                                </ul>
                                <div class="d-flex justify-content-center">
                                      <%=paginate @users %>
                                </div>
                          </div>
                    </div>
              </div>

      </div>
</div>
