
<div class="col-md-10">
      <div class="card">
          <div class="card-header card-header-primary">
                <h4 class="card-title">Doctor Profile</h4>
                      <p class="card-category">Fill-out completely</p>
          </div>
          <div class="card-body">
                <%= form_with(model: @doctor, local: true) do |f| %>
                <div class="row">
                      <div class="col-md-10">
                            <%= render 'shared/error_messages', object: f.object %>
                      </div>
                </div>
                <div class="row">
                      <div class="col-md-6">
                            <div class="form-group">
                                  <%= f.label :name, class: "bmd-label-floating"%>
                                  <%= f.text_field :name, class: "form-control", autofocus: true %>
                            </div>
                      </div>
                      <div class="col-md-6">
                            <div class="form-group">
                                  <%= f.label :license, class:  "bmd-label-floating" %>
                                  <%= f.text_field :license, class: "form-control" %>
                            </div>
                      </div>
                </div>
                <div class="row">
                      <div class="col-md-6">
                            <div class="form-group">
                                  <%= f.label :contact, class: "bmd-label-floating" %>
                                  <%= f.text_field :contact, class: "form-control" %>
                            </div>
                      </div>
                      <div class="col-md-6">
                            <div class="form-group">
                                  <%= f.label :specialty, class: "bmd-label-floating" %>
                                  <%= f.collection_select :field_id, Field.order(:area), :id, :area, {prompt: "Select Specialty"}, class: "form-control" %>
                            </div>
                      </div>
                </div>
                <div class="row">
                      <div class="col-md-12">
                            <div class="form-group">
                                    <%= f.label :address, class: "bmd-label-floating" %>
                                    <%= f.text_field :address, class: "form-control" %>
                            </div>
                      </div>
                </div>
                <div class="row">
                      <div class="col-md-4">
                            <div class="form-group">
                                  <%= f.label :email, class: "bmd-label-floating" %>
                                  <%= f.email_field :email, class: "form-control", autocomplete: true %>
                             </div>
                      </div>
                      <div class="col-md-4">
                            <div class="form-group">
                                  <%= f.label :password, class: "bmd-label-floating" %>
                                  <%= f.password_field :password, class:"form-control" %>
                            </div>
                      </div>
                      <div class="col-md-4">
                            <div class="form-group">
                                  <%= f.label :password_confirmation, class: "bmd-label-floating" %>
                                  <%= f.password_field :password_confirmation, class:"form-control" %>
                            </div>
                      </div>

                </div>
                <%= f.submit "Create Account", class: "btn btn-primary" %>
              <% end %>
          </div>
      </div>
</div>
