
      <div class="col-md-8">
         <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Specialty</h4>
            <p class="card-category">&nbsp;</p>

          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                  <%= form_for(@field) do |f| %>
                    <%= render "shared/error_messages", object: f.object %>
                  <div class="form-group">
                    <%= f.label :area, "Field Area", class: "bmd-label-floating" %>
                    <%= f.text_field :area, class: "form-control" %>
                  </div>

                </div><!-- col-md-8 -->
                <div class="col-md-4">
                    <%= f.submit "Save", class: "btn btn-primary btn-block" %>
                </div><!-- col-md-4-->
                  <%  end %>
            </div><!-- row -->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- col-md-8 -->
